div.circle-avatar{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.texto-portada{
    height: 34px;
    line-height: 34px;
    margin-left: -20px;

}

img.portada{
    margin-top: 5px;
    padding-left: 3%;
    padding-right: 3%;
}

p.titulo {
    font-size: large;
}

.navbar-header{
    margin-left:5px;
    width:100%;
}